//this is for things that aren't bootstrap variables

.form-control {
   resize: none;
}

a {
   font-weight: $font-weight-bold;
}

.no-underline:hover {
   text-decoration: none !important;
}

.logo-text-font {
   font-family: "Playfair Display", serif;
}

.logo-text-size {
   @include media-breakpoint-only(xs) {
      font-size: 24px;
   }
   @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 2;
   }
   @include media-breakpoint-only(md) {
      font-size: $font-size-base * 2.5;
   }
   @include media-breakpoint-only(lg) {
      font-size: $font-size-base * 3;
   }
   @include media-breakpoint-only(xl) {
      font-size: $font-size-base * 3;
   }
}

.answer-question-link {
   @include media-breakpoint-only(xs) {
      font-size: 12px;
      margin-bottom: 5px;
      margin-left: 25px;
      line-height: 1;
   }
   @include media-breakpoint-only(sm) {
      font-size: 16px;
      margin-left: -30px;
      margin-bottom: 15px;
   }
   @include media-breakpoint-only(md) {
      font-size: $font-size-base * 0.75;
      margin-left: 45px;
      margin-bottom: 5px;
   }
   @include media-breakpoint-only(lg) {
      font-size: $font-size-base;
      margin-bottom: 38px;
   }
   @include media-breakpoint-only(xl) {
      font-size: $font-size-base * 1;

      margin-bottom: 17px;
   }
}

.submit-new-question,
.sign-up-prompt {
   font-weight: $font-weight-bold;
}

.answer-question-link {
   color: $white;
   font-weight: normal;
}

.thank-you-message {
   color: $success;
}

.logo {
   @include media-breakpoint-only(xs) {
      width: 20px;
      margin-top: -9px;
      margin-right: -4px;
      margin-left: -1px;
   }
   @include media-breakpoint-only(sm) {
      width: 33px;
      margin-bottom: 25px;
   }
   @include media-breakpoint-only(md) {
      width: 46px;
      margin-top: -35px;
   }
   @include media-breakpoint-only(lg) {
      width: 53px;
      margin-bottom: 45px;
   }
   @include media-breakpoint-only(xl) {
      width: 55px;
      margin-top: -44px;
   }
}

// .top-questions {
//    @include media-breakpoint-only(xs) {
//       margin-top: 120px;
//       font-size: 24px;
//    }
//    @include media-breakpoint-only(sm) {
//       margin-top: 120px;
//    }
//    @include media-breakpoint-only(md) {
//       margin-top: 120px;
//    }
//    @include media-breakpoint-only(lg) {
//       margin-top: 190px;
//    }
//    @include media-breakpoint-only(xl) {
//       margin-top: 190px;
//    }
// }
// .dropdown {
//    @include media-breakpoint-only(xs) {
//       margin-top: 120px;
//       font-size: 12px;
//    }
//    @include media-breakpoint-only(sm) {
//       margin-top: 120px;
//    }
//    @include media-breakpoint-only(md) {
//       margin-top: 120px;
//    }
//    @include media-breakpoint-only(lg) {
//       margin-top: 190px;
//    }
//    @include media-breakpoint-only(xl) {
//       margin-top: 120px;
//    }
// }

hr {
   height: 2px;
   border-width: 0;
   color: $gray-100;
   background-color: $gray-100;
}

.header-solid {
   background-color: $gray-900;

   color: $white;
   a {
      color: white;
   }
}

a:hover {
   cursor: pointer;
}
